<ion-header>
  <ion-toolbar>
    <ion-title>Newsletter</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="printersrc" id="logo"></ion-img>
  <h3>Jetzt für unseren neusten Newsletter anmelden</h3>
  <form [formGroup]="contactForm" (ngSubmit)="sendContactForm()">
    <ion-item>
      <ion-label position="floating">Email <ion-text color="danger">*</ion-text></ion-label>
      <ion-input formControlName="email" type="email" required="true"></ion-input>
    </ion-item>
    <div class="formErrors">
      <ion-item color="danger" *ngIf="!contactForm.controls.email.valid && !contactForm.controls.email.pending && (contactForm.controls.email.dirty)">
        Sorry, that email is not correct!
      </ion-item>
    </div>
    <ion-button block color="primary" type="submit" [disabled]="contactForm.invalid">
      Send it!
    </ion-button>
  </form>
</ion-content>
